<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/test.js"></script>
    <title>Title</title>
</head>
    <h1>TEST PAGE</h1>
<body>
用户名:<input type="text" id="name" name="name" /><br/>
密码:<input type="text" id="password" name="password" /><br/>
<input type="button" onclick="Test();" value="登录"/>
<script>
    function Test() {
        $.ajax({
            url:'/user/show',
            type:'get',
            data:{
                name:$("#name").val(),
                password:$("#password").val()
            },
            success: function (resultData) {
                if (resultData===1){
                    alert("登录成功!")
                }else {
                    alert("登录失败!")
                }
            },
            error: function (msg) {
                alert(msg);
            }
        })
    }
</script>
</body>
</html>